{% extends "base.html" %}
{% block content_x %}
    <form method="POST">
        {% csrf_token %}
        <div>
            <label>Subject 1</label>
            <input type="number" name="sub1" />
        </div>
        <div>
            <label>Subject 2</label>
            <input type="number" name="sub2" />
        </div>
        <div>
            <label>Subject 3</label>
            <input type="number" name="sub3" />
        </div>
        <div>
            <label>Subject 4</label>
            <input type="number" name="sub4" />
        </div>
        <div>
            <label>Subject 5</label>
            <input type="number" name="sub5" />
        </div>
        <button type="submit">Marksheet</button><br />

        <label>Output</label>
        <div>
            <label>Total</label>
            <input type="text" value="{{total}}" />
        </div>
        <div>
            <label>Percentage</label>
            <input type="text" value="{{per}}" />
        </div>
        <div>
            <label>Division</label>
            <input type="text" value="{{div}}" />
        </div>
    </form>
{% endblock content_x %}